@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat&family=Noto+Sans+KR&display=swap");
body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.cities {
  display: grid;

  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.city {
  height: 20vh;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #000;
  opacity: 0.5;
  font-size: 4rem;
  padding: 4vh 5vw;
  /* border: 1px solid cadetblue;
  border-radius: 15px; */
  margin: 4vh 0;
  text-align: center;
}
