.location,
.temp,
.temp_range,
.humidity,
.recent_weather {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
  font-size: 2rem;
}
#icon {
  display: block;
  margin: 0px auto;
  width: 20%;
}
.info {
  opacity: 0.5;
}
.recent_weather {
  margin-top: 50px;
}
.humidity {
  margin-top: 50px;
}
.temp {
  display: block;
  margin-top: 50px;
}
.location {
  font-family: "Montserrat", sans-serif;
  margin: 5vh 0;
  font-size: 3.5rem;
}
