body{
    background-color: cornflowerblue;
}
.location,
.temp,
.temp_range,
.humidity,
.recent_weather{
    color: white;
    text-align: center;
    font-style:-apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
}
#icon {
    display: block;
    margin: 0px auto;
    width: 7%;
}

.recent_weather{
    margin-top: 50px;
}
.humidity{
    margin-top: 50px;
}
.temp{
    display: block;
    margin-top: 50px;
}
.location{
    font-family:cursive;
}